$grey: #c4c4c4;
$litegrey: #ebebeb;
$text: #000000;
$button: #d2d2d2;
$link-color-hover: #3734A9;


$filter-btn: #E8F2FE;
$accent_purple: #3d38cc;
// $purple-gradient: -webkit-linear-gradient(to right, rgba(55,52,169,1) 0%, rgba(95,91,239,1) 100%);
$btn-fill-hover: #3734A9;
$border: #272727;

