@import './colors.scss';
@import './sizes.scss';
@import './variables.scss';

//Стили для Боковой навигации

.side-bar_header {
  background-color: $accent_purple;
  color: #fff;

  & > h2 {
    margin: 32px 0;
    font-size: 24px;
    font-weight: 700;
  }
  .avatar {
    border-radius: 50%;
    background-color: grey;
    width: 80px;
    height: 80px;
  }
  .authorization-description {
    text-align: center;
    margin: 0 auto;
    & span {
      display: block;
    }
    .user-name {
      font-weight: bold;
      font-size: 18px;
      line-height: 140%;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    .user-city {
      font-size: 16px;
      margin-bottom: 48px;
    }
  }
  .user-authorization {
    font-weight: bold;
    font-size: 18px;
    margin: 32px 0 68px;
  }
}

.side-bar_navigation {
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.12);

  .top-link,
  .bottom-link {
    svg {
      fill: #272727;
      margin-right: 20px;
    }
    &:hover {
      color: $btn-fill-hover !important;
      filter: drop-shadow(0px 7px 20px rgba(109, 52, 250, 0.35));
      svg {
        fill: $btn-fill-hover;
      }
    }
  }
  .bottom-link {
    &:hover svg{
      fill: $btn-fill-hover !important;
    }
  }
  .bottom-list-link {
    margin-bottom: 40px;
  }

  .active-link {
    color: $btn-fill-hover !important;
    font-weight: 600;
    svg {
      fill: $btn-fill-hover;
    }
  }
}
