@import "./colors.scss";
@import "./sizes.scss";
@import "./variables.scss";

//Стили для карточек встреч на страницах Главная, Участвую, Мои встречи, Избранное

.play-cards-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-row-gap: 30px;
    grid-column-gap: 32px;
    justify-content: space-evenly;

    .play-card {
      height: 200px;
      position: relative;
      border-radius: 10px;
      margin-bottom: 16px;

      &__header {
        position: absolute;
        left: 12px;
        bottom: 5px;
      }

      &__favorite {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 48px;
        height: 48px;
        z-index: 10;
        box-sizing: border-box;
        background: rgba(235, 235, 235, 0.2);
        border-radius: 10px;
        svg {
          fill: none;
          stroke: #E2E2E2;
        }
        &:hover {
          svg{
          fill: $link-color-hover;
          }
        }
      }
      &:hover {
        cursor: pointer;
    
        img {
          background-color: #e9e9e9;
          filter: blur(1px);
        }
        .play-card__header span {
          font-size: 18px;
        }
      }
    }
}  