@import "./colors.scss";
@import "./sizes.scss";
@import "./variables.scss";

//Стили для страниц Регистрация, Вход

.modal {
    margin: auto;
    width: 600px;
    height: 500px;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffff;
    &-sign-up {
      width: 700px;
    }
    &-close {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 33px;
      right: 33px;
      &:hover {
        cursor: pointer;
      }
      &::after {
        content: "";
        display: block;
        margin-top: -2px;
        width: 15px;
        height: 2px;
        background: $text;
        transform: rotate(45deg);
        &:hover {
          background: $btn-fill-hover;
        }
      }
      &::before {
        content: "";
        display: block;
        width: 15px;
        height: 2px;
        background: $text;
        transform: rotate(-45deg);
      }
    }
    &-title {
      font-weight: bold;
      font-size: 32px;
      &:hover {
        cursor: default;
      }
    }
    &-form {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    label {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
    input {
      margin: 8px 0;
    }
    button {
      margin: 24px 0;
    }
    &-msg {
      margin-top: 8px;
      &:hover {
        cursor: default;
      }
      &-link {
        margin-top: 8px;
        text-decoration: underline;
        color: $text;
        font-weight: 600;
        &:hover {
          color: $btn-fill-hover;
          text-decoration: none;
        }
      }
    }
  }
  .wrp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

