@import "./colors.scss";
@import "./sizes.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 50px;
  font-size: 14px;
  &:active {
    transform: translateY(1px);
    // filter: saturate(150%);
  }
  &:focus {
    outline: none;
  }
}

//для незакрашенных кнопок
.btn {
  width: 280px;
  border: 1px solid $btn-fill-hover;
  border-radius: 10px;
  color: $btn-fill-hover;

  &:hover {
    background-color: $accent_purple;
    border: none;
    color: #fff;
  }
  &:active {
    border-color: $accent_purple;
    color: #fff;
  }
}

//для закрашенных кнопок
.btn-fill {
  width: 280px;
  border-radius: 10px;
  background-color: $accent_purple;
  color: #fff;

  &:hover,
  &:active {
    background-color: $btn-fill-hover;
  }
}

//для кнопок фильтрации
.filter-btn {
  height: 40px;
  border-radius: 105px;
  padding: 7px 12px;
  background: $filter-btn;
  font-size: 16px;

  &:hover,
  &:active {
    background-color: $accent_purple;
    color: #fff;
  }
}

//поля ввода
input,
select {
  outline: none;
  width: 280px;
  height: 50px;
  border: 1px solid $border;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 18px;
  cursor: pointer;
  color: $accent_purple;
  &:hover {
    border-color: $btn-fill-hover;
  }
  &:focus {
    border: 2px solid $btn-fill-hover;
  }
}

//отступ для заголовка карточки встречи - чтобы не прилеплялось Футбол(до 16)
.meeting-name {
  margin-right: 5px;
}

@mixin wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  @include wrapper;
  margin: 0 auto;
  display: flex;
}
